<thead>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Created</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {{#each sortedTodos as |todo|}}
    {{#todo-item todo=todo}}{{/todo-item}}
  {{/each}}
</tbody>
