  <td>{{todo.id}}</td>
  <td>{{todo.description}}</td>
  <td>{{moment-from-now todo.createdAt}}</td>
  <td>
    <button type='button' class='btn btn-sm btn-primary' {{action 'finish'}}>Finish</button>
  </td>
