<form {{action 'save' on='submit'}}>
  <div class='row'>
    <div class='col-xs-8'>
      {{input type='text' class='form-control' placeholder='What do you need to do?' value=model.description}}
    </div>
    <div class='col-xs-2'>
      <button type='submit' class='btn btn-primary max'>Add Todo</button>
    </div>
    <div class='col-xs-2'>
      <button type='button' class='btn btn-danger max' {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
</form>
